# Data files
data/*
!data/iscreen
!data/actint
!data/resource/iscreen/oftr2.scb
!data/resource/iscreen/oftr.scb
!data/resource/actint/aci_hi.scb
!data/resource/actint/aci_low.scb
!data/resource/actint/acs_low.scb
!data/resource/actint/aci_hi2.scb
!data/resource/actint/aci_low2.scb
!data/resource/actint/acs_low2.scb

# CMake files
CMakeFiles/
cmake_install.cmake
Makefile
CMakeCache.txt

# Generated binaries
*.a
lib/utils/zip_convert
src/vangers

# TODO: VC stuff, windows binaries
build/src/vangers.exe
build/src/logfile.txt
build/src/libclunk.dll
build/lib/utils/zip_convert.exe
.fuse_hidden*
.vscode/
*.code-workspace

# VS cmake
.vs/
[Oo]ut/
CMakeSettings.json
