# Data files
data/*
!data/iscreen
!data/actint
!data/data
!data/resource/actint/hd

# CMake files
CMakeFiles/
cmake_install.cmake
Makefile
CMakeCache.txt

# Generated binaries
*.a
lib/utils/zip_convert
src/vangers
data/iscreen/temp.scr

# TODO: VC stuff, windows binaries
build/src/vangers.exe
build/src/logfile.txt
build/src/libclunk.dll
build/lib/utils/zip_convert.exe
.fuse_hidden*
.vscode/
*.code-workspace

# VS cmake
.vs/
[Oo]ut/
CMakeSettings.json

# compile stuff
/ffmpeg
/build
/clunk
/vangers