name: Vangers[M4D] Linux

on:
  push:
    branches: [ master, M4D ]
  pull_request:
    branches: [ master, 60fps, hd_v2, M4D ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: update repos
      run: sudo apt-get update
    - name: install libs
      run: sudo apt-get install cmake libsdl2-dev libsdl2-net-dev libogg-dev libvorbis-dev libavcodec-dev libavformat-dev libavutil-dev
    - name: clunk download lib
      run: git clone --depth 1 https://github.com/stalkerg/clunk.git clunk
      working-directory: /tmp
    - name: clunk build and install
      run: cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_C_COMPILER=/usr/bin/gcc-9 -DCMAKE_CXX_COMPILER=/usr/bin/g++-9 . && make && sudo make install
      working-directory: /tmp/clunk
    - name: configure
      run: mkdir build && cd build && cmake -DCMAKE_C_COMPILER=/usr/bin/gcc-9 -DCMAKE_CXX_COMPILER=/usr/bin/g++-9 ..
    - name: make
      run: make
      working-directory: build
    - name: vangers -- prepare release folder
      run: |
        mkdir -p vangers/bin
        cp build/src/vangers vangers/bin/
        strip vangers/bin/vangers
        cp build/server/vangers_server vangers/bin/
        strip vangers/bin/vangers_server
    - uses: actions/upload-artifact@v1
      with:
        name: Vangers[M4D]-linux
        path: vangers
